GSC_SITE_URL=sc-domain:hi3d.ai
GOOGLE_CLIENT_SECRET_FILE=credentials/google_oauth_client.json
GOOGLE_TOKEN_FILE=.secrets/gsc_token.json

FEISHU_APP_ID=cli_xxx
FEISHU_APP_SECRET=xxx
FEISHU_APP_TOKEN=H8jKbHg8fapSi0stwkTcO6l2nGf
FEISHU_TABLE_ID=tblU2dqd507qcDjv
